{{response.files.append(URL(request.application,'static','updateFieldAjax.js'))}}
{{extend 'layout.html'}}
<style >
div.web2py_counter{visibility:hidden;}
</style>
<H1>Samples</H1>



      {{=BEAUTIFY(option_header)}}
  <div id="doublescroll">    
  <div>  
    {{=BEAUTIFY(sample_create)}}
     </div>
     </div>

    
<style>
{{include 'sampleList.css'}}
{{include 'sampleManager/scrollbars.css'}}
</style>

<!-- Z tej stronki: http://www.javascriptkit.com/script/script2/tablefilter.shtml -->
<script language="javascript" type="text/javascript" src="/{{=request.application}}/static/actb.js"></script><!-- External script -->
<script language="javascript" type="text/javascript" src="/{{=request.application}}/static/tablefilter.js"></script>
<script language="javascript" type="text/javascript">
 function DoubleScroll(element) {
        var scrollbar= document.createElement('div');
        scrollbar.appendChild(document.createElement('div'));
        scrollbar.style.overflow= 'auto';
        scrollbar.style.overflowY= 'hidden';
        scrollbar.firstChild.style.width= element.scrollWidth+'px';
        scrollbar.firstChild.style.paddingTop= '1px';
        scrollbar.firstChild.appendChild(document.createTextNode('\xA0'));
        scrollbar.onscroll= function() {
            element.scrollLeft= scrollbar.scrollLeft;
        };
        element.onscroll= function() {
            scrollbar.scrollLeft= element.scrollLeft;
        };
        element.parentNode.insertBefore(scrollbar, element);
    }

    DoubleScroll(document.getElementById('doublescroll'));
	//<![CDATA[
	var segmTableFilters = {
		btn: false,
		rows_counter: true,
		//col_4: "select",
		//btn_text: false,
		//col_width: ["0","15%",null,null, null]
	}

	
	setFilterGrid("patient_form", 0,segmTableFilters);
	//]]>
</script> 





